[Unit]
Description=Service responsible for showing information on display
After=network.target redis.service

[Service]
ExecStartPre=/bin/bash -c 'for i in {1..5}; do redis-cli ping && exit 0 || sleep 1; done; exit 1'
ExecStart=/usr/local/bin/display
Restart=on-failure
User=display-service
Group=display-service
WorkingDirectory=/usr/local/bin
StandardOutput=journal
StandardError=journal
TimeoutSec=5

[Install]
WantedBy=multi-user.target
